<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1>The Brew House</h1>
        </div>
        <div class="menu">
             <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Giỏ hàng</a></li>
                <li><a href="">Đăng kí</a></li>
                <li><a href="">Đăng nhập</a></li>
             </ul>
        </div>
    </div>

    <div class="main_container">
        <div class="anh">
                <img class="anhchitietsp" src="../img/anh1.png" alt="">
        </div>
        <div class="chitietsanpham">
            <h2 class="tensp">Trà Đá Vỉa Hè</h2>
            <h2 class="giasp">50.000đ</h2>
            <h2>Vui Lòng Chọn Size</h2>
            <select class="custom-select">
                <option>Nhỏ</option>
                <option>Vừa</option>
                <option>Lớn</option>
            </select>
            <h2>Vui Lòng Chọn Toping</h2>
            <select class="custom-select">
                <option>Trân Châu Trắng</option>
                <option>Trân Châu Đen</option>
                <option>Thạch Rau Câu</option>
            </select> <br>
            <input type="submit" value="ĐẶT GIAO TẬN NƠI">
        </div>
    </div>

    <div class="footer">
        <p class="footer">Dự Án 1</p>
    </div>
</body>
</html>