*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    width: 85%;
}

                                                       /* TRANG SẢN PHẨM */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; 
    padding-bottom:10px; 
    margin-bottom: 20px; 
    margin-top: 40px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.menu li a:hover {
    color:white;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.main_left{
    margin-top: 40px;
}

.main_left ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.main_left li {
    margin-bottom: 10px; 
}

.main_left li a {
    text-decoration: none; 
    color: black; 
    transition: color 0.3s; 
}

.main_left li a:hover {
    color: white; 
}

.main_container{
    display: flex;
}

h2{
    margin-top: 40px;
    margin-left: 100px;
}

.main_sp_container {
    display: flex;
    margin-left: 100px;
    justify-content: flex-start; 
}


.main_sp {
    flex: 0 0 auto; 
    margin-right: 20px; 
    margin-top: 40px;
}

.anhsp{
    border-radius: 10px;
}

.footer {
    margin-top: 40px;
    width: 100%;
    background-color: orange;
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 20px;
}


/* TRANG CHI TIẾT SẢN PHẨM */
.main_container{
    display: flex;
    margin-top: 70px;
}

.giasp{
    color: orange;
}

.anhchitietsp{
    height: 550px;
}

select{
    margin-left: 100px;
    margin-top: 40px;
}

input{
    margin-left: 100px;
    margin-top: 40px;
    width: 350px;
    height: 50px;
    background-color: orange
}


.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23757575"><path d="M7 10l5 5 5-5z"/></svg>'); /* Mũi tên xuống */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    background-size: 12px;
    cursor: pointer;
}

.custom-select:hover {
    border-color: #666;
}
